<br>
<div class="container">
  <div class="row">
    <div class="col">
      <h3 *ngIf="title">{{movie.title}}</h3>
    </div>
    <div class="col text-right">
      <button class="btn btn-outline-primary" type="button" (click)="onEdit()" routerLink="edit" [queryParams]="{edit: true}" >Edit</button>
    </div>
    <div class="col text-left">
      <button class="btn btn-outline-danger" type="button" (click)="onDelete()">Delete</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
        <img src="{{movie.image}}" alt="image_here" class="center" style="max-height: 600px; max-width: 100%;" *ngIf="movie" />
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <h4>Full Movie Description</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p *ngIf="movie">
         {{movie.description}}
    </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <h4>Genre</h4>
    </div>
    <div class="col">
        <p *ngIf="movie">{{movie.genre}}</p>
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <h4>Rating:</h4>
    </div>
    <div class="col">
      <!-- <p>*****</p> -->
      <p *ngIf="movie">{{movie.rating}}</p>
    </div>
  </div>
</div>
