

<div class="text-center" *ngIf="movieArray.length === 0">
    <app-loading-spinner></app-loading-spinner>
  Server is booting up.
  <p>If this takes about 10 seconds, you're the first visitor in a while!</p>
  <p>If this takes any longer, something might have went wrong.</p>
  <p>Refresh the page or try again at a later time.</p>
  <p>Sorry for the inconvenince.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-movie-item
        *ngFor="let movieItem of movieArray; let i = index"
        [index]="i"
        [movie]="movieItem"
      ></app-movie-item>
    </div>
  </div>
</div>


