


<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
    </div>
  </div>
</div>

<p>
  home works!
</p>
<div class="container"> <!--ALL ROWS MUST BE INSIDE CONTAINER-->
  <div class="row">

    <div class="col text-center">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Genre: {{selectedGenreName}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let item of genre; let i = index" type="button" [disabled]="selectedGenreIndex === i" (click)="onGenreSelected(i)">{{item}}</button>
        </div>
      </div>
    </div>

    <div class="col text-center">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Alphabetical</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <div class="container">
              <div class="row">
                <div class="col-0" *ngFor="let item of alphabet; let i = index" type="button">
                    <button  type="button" [disabled]="selectedCharIndex === i" (click)="onLetterSelected(i)">{{item}}</button>
                  </div>
              </div>
              <!-- <button ngbDropdownItem *ngFor="let item of alphabet; let i = index" type="button" (click)="onLetterSelected(i)">{{item}}</button> -->
              <!-- The code above looks better and could work if virtual scrolling could work or the dropdown wouldnt disappear on touch -->
          </div>
        </div>
      </div>

  </div>
</div>
<br>

<hr>

    <app-movie-list></app-movie-list>

<br>
<hr>

<!-- // load next page button here -->
<div class="row">
    <div class="col text-center">
      <br />
      <button class="btn btn-primary" (click)="nextArray()">
        Load Next Page
      </button>
    </div>
  </div>
<br>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <p> "<" Prev 1 2 3 ... 10 Next > </p>
    </div>
  </div>
</div>

