<p>
  movie-list works!
</p>

<div class="text-center" *ngIf="movieArray.length === 0">
  Server is down
  <p>Refresh the page or try again at a later time.</p>
  <p>Sorry for the inconvenince!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

          <app-movie-item *ngFor="let movieItem of movieArray" [movie]="movieItem"></app-movie-item>
        </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <br>
        <button class="btn btn-primary" (click)="nextArray()">Load the Next Page</button>
      </div>
    </div>
  </div>

