
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a
    class="navbar-brand collapse navbar-collapse text-center"
    style="margin-left: 20%"
    [routerLink]="['/']"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="'{ exact: true }'"
    >Movies4Fun</a
  >

  <a
    class="navbar-toggler navbar-brand text-center mr-auto"
    style="color: white; border: 0px;"
    [routerLink]="['/']"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="'{ exact: true }'"
    >Movies4Fun</a
  >

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav" style="margin-left: 30%">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/movies']"
          [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['addMovie']"
          [routerLinkActive]="'active'"
          >Add Movie</a
        >
      </li>
    </ul>
  </div>

  <div ngbDropdown class="d-inline-block ml-auto text-right" display="dynamic">
    <button
      class="btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="">
      <!-- <button ngbDropdownItem *ngFor="let item of genre; let i = index" type="button" [disabled]="selectedGenreIndex === i" (click)="onGenreSelected(i)">{{item}}</button> -->
      <div

        class=""
        id="collapsibleNavbar"
      >
        <ul class="navbar-nav bg-dark text-center">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/']"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
            style="z-index: 5"
              class="nav-link"
              [routerLink]="['addMovie']"
              [routerLinkActive]="'active'"
              >Add Movie</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<br />
