
.hoverTest {
  background-color: rgb(255, 255, 255);
  padding: 0px;
  /* text-decoration-line: none; */
}

.hoverTest > .container {
  color: #0069d9;
  padding: 20px;
  transition: background-color 0.3s;

}

.hoverTest:hover > .container {
  cursor: pointer;
  color: white;

  /* text-decoration-line: underline; */
  /* background-color: #0429f7; */
  background-color: #007bff;
  transition: 0.3s;
}

.hoverTest:hover .m-title,
.hoverTest:hover .read-more {
  text-decoration-line: underline;
  /* transition: text-decoration-line 1s; */
}

.m-title {
  text-transform: capitalize;
  padding-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
